<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <!--命名空间用于查找 -->
 <mapper namespace="com.dsw.dao.UserDao">
 <!-- 替代，语句中的内容,简写 -->
 	<resultMap type="com.dsw.bean.User" id="userResult">
		<result property="id" column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
		<result property="email" column="email" />
		<result property="password" column="password" />
		<result property="telephone" column="telephone" />
		<result property="address" column="address"/>
		<result property="date_created" column="date_created" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp" />
		<result property="photo" column="photo"/>
	</resultMap>
     <sql id="cols">
          id,email,password,telephone,address,date_created,photo   
     </sql>
<!-- 查询所有记录 -->
     <select id="selectAll" resultType="com.dsw.bean.User">
         select * from  dsw_user      
     </select>
 
<!-- 查询一个用户 --> <!--  别名替代，简写-->
     <select id="findbyUserName" parameterType="string" resultType="com.dsw.bean.User">
         select id,email,password,telephone,address,date_created,photo from dsw_user where email= #{email}    
     </select>
     
<!-- 插入一个用户 -->
     <insert id="insert" parameterType="com.dsw.bean.User" >
         insert into dsw_user(email, password, telephone, address, date_created, photo) values (#{email},#{password},#{telephone},#{address},now(),#{photo})    
     </insert>
     
<!-- 更改密码 -->
     <update id="updatePassword" parameterType="com.dsw.bean.User" >
         update dsw_user set password=#{password} where email=#{email}   
     </update>
     
<!-- 更改头像 -->
     <update id="updatePhoto" parameterType="com.dsw.bean.User" >
         update dsw_user set photo=#{photo} where email=#{email}   
     </update>
     
<!-- 删除一个用户 -->
     <delete id="delete" parameterType="com.dsw.bean.User" >
         delete from dsw_user where email= #{email}   
     </delete>
     
<!-- 统计用户数 -->
     <select id="countAll" resultType="int" >
         select count(*) from dsw_user   
     </select>
 </mapper>